/* Pie chart css */
.pie-chart-container {
    position: relative;
    height: 20rem;
    display: flex;
    justify-content: center;
  }
  
.pie-chart-container canvas { 
    transition: all 0.3s ease;
    cursor: pointer;
}
 
.pie-chart-container canvas:hover {
    transform: scale(1.02);
  }


/* Bar chart css */
  .bar-chart {
    display: flex;
    height: 0.8rem;
  }
  
  .bar {
    transition: width 0.5s;
    box-sizing: border-box;
  }
  
  
  
  .tooltip {
    background-color: lightgray !important;
    color: black !important;
    border-radius: 5px !important;
    font-weight: 500;
  }
  
/* Card css */

.card-wrapper{
  background-color: white;
  border-radius: 10px;
  padding: 28px;
  margin: 20px;
  font-family: 'IBM Plex Sans';
  width: 420px;
  height: fit-content;
}
.title{
  font-size: 30px;
}
.desc{
  margin-top: 12px;
  font-size: 18px;
  margin-bottom: 26px;
  line-height: 26px;
  font-weight: 400;
}
.chart{
  padding: 0 10px;
  margin-bottom: 24px;
  
}
.legend{
  height: 12px;
  width: 12px;
  display: block;
}
.table-wrapper{
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

table, th, td {
  border: none;
}

 td {
  padding: 6px 8px 6px 0;
  text-align: left;
}

.data{
  display: flex;
  align-items :center;
  gap: 8px;
}


@media screen and (max-width: 600px) {
  .pie-chart-container{
    height: 12rem;
  }
  td{
    display: flex;
  }
}

